extends ../layout.pug

block pagetitle
    title Balanced graphs

block title
    div(class='container')
        h1 Balanced graphs
        p(class='subtitle text-center') Click on edges to construct a graph without cliques of size 3 and independent sets of size 3. (A clique of size k is a set of k nodes any two of which are joined by an edge. Similarly, an independent set of size k is a set of k nodes any two of which are not joined by an edge.)

block container
    div(class='balanced-graphs')
        ul(class='nav nav-tabs', role='tablist')
            li(role='presentation', class='active')
                a(href data-target='#level1' role='tab' data-toggle='tab') Level 1: N = 5
            li(role='presentation')
                a(href data-target='#level2' role='tab' data-toggle='tab') Level 2: N = 6

        div(class='tab-content')
            div(role='tabpanel', class='tab-pane active', id='level1')
                div(class='center text-center padded')
                    svg(id='graph1', class='fixed', width='100%', height='100%')

                p(class='center text-center')
                    button(type='button', class='btn btn-default impossible', data-id='1') It's impossible
                    button(type='button', class='btn btn-info check', data-id='1') Check
                    button(type='button', class='btn btn-info reset', data-id='1') Reset

            div(role='tabpanel', class='tab-pane', id='level2')
                div(class='center text-center padded')
                    svg(id='graph2', class='fixed', width='100%', height='100%')

                p(class='center text-center')
                    button(type='button', class='btn btn-default impossible', data-id='2') It's impossible
                    button(type='button', class='btn btn-info check', data-id='2') Check
                    button(type='button', class='btn btn-info reset', data-id='2') Reset


    div(class='modal fade balanced-graphs__modal', tabindex='-1')
        div(class='modal-dialog')
            div(class='modal-content')
                div(class='modal-body') 
                    h4 In fact, a better solution exists.
                    p Would you like to improve your result?
                div(class='modal-footer')
                    button(type='button', class='btn btn-default', data-dismiss='modal') Close

block append scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js')
    script(src='/javascripts/quiz/balanced-graphs.js')