extends ../layout.pug

block pagetitle
    title Cut the Figure

block title
    div(class='container')
        h1 Cut the Figure
        p(class='subtitle text-center') Cut the figure into two parts of the same shape and size by a line the goes along cell edges. To make a cut along a cell side, click near its center

block container
    ul(class='nav nav-tabs', role='tablist')
        li(role='presentation', class='active')
            a(href data-target='#level0' role='tab' data-toggle='tab') Level 1
        li(role='presentation')
            a(href data-target='#level1' role='tab' data-toggle='tab') Level 2
        li(role='presentation')
            a(href data-target='#level2' role='tab' data-toggle='tab') Level 3

    div(class='tab-content')
        div(role='tabpanel', class='tab-pane active', id='level0')
            div(class='center text-center padded')
                svg(id='figureCut0', class="cut")

            p(class='center text-center')
                button(type='button', id='possible', class='btn btn-default', data-id='1', data-toggle='modal', data-target='#congratulations_modal') It's impossible
                button(type='button', class='reset', data-id='1', class='btn btn-info') Reset
                
            p(class='center text-center')
                span(id='hint')

        div(role='tabpanel', class='tab-pane', id='level1')
            div(class='center text-center padded')
                svg(id='figureCut1', class="cut")

            p(class='center text-center')
                button(type='button', id='impossible', class='btn btn-default', data-id='2', data-toggle='modal', data-target='#possible_modal') It's impossible
                button(type='button', class='reset', data-id='2', class='btn btn-info') Reset
                
            p(class='center text-center')
                span(id='hint')

        div(role='tabpanel', class='tab-pane', id='level2')
            div(class='center text-center padded')
                svg(id='figureCut2', class="cut")

            p(class='center text-center')
                button(type='button', id='impossible', class='btn btn-default', data-id='3', data-toggle='modal', data-target='#possible_modal') It's impossible
                button(type='button', class='reset', data-id='3', class='btn btn-info') Reset

            p(class='center text-center')
                span(id='hint')



block append scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js')
    script(src='/javascripts/quiz/cut-the-figure.js')
