extends ../layout.pug

block pagetitle
    title Number of Paths

block title
    div(class='container')
        h1 Number of Paths
        p(class='subtitle text-center') There are several points connected by arrows as on the picture. There is a starting point s and a final point t. How many different ways are there to get from s to t following arrows? Fill numbers of paths to each point into circles below.

block container
    ul(class='nav nav-tabs', role='tablist')
        li(role='presentation', class='active')
            a(href data-target='#level1' role='tab' data-toggle='tab') Level 1
        li(role='presentation')
            a(href data-target='#level2' role='tab' data-toggle='tab') Level 2
        li(role='presentation')
            a(href data-target='#level3' role='tab' data-toggle='tab') Level 3
        li(role='presentation')
            a(href data-target='#level4' role='tab' data-toggle='tab') Level 4

    div(class='tab-content')
        div(role='tabpanel', class='tab-pane active', style='max-width: 600px; margin: auto', id='level1')
            div(class='center text-center padded' id='numberOfPaths0')
                include ../../../public/images/number-of-paths1.svg
                span number of paths =&nbsp;
                input(type='number' disabled='')

            p(class='center text-center output-map0')
            p(class='center text-center')
                button(type='button', id='impossible', class='btn btn-default', data-id='1', data-toggle='modal', data-target='#possible_modal') It's impossible
                button(type='button', class='btn btn-default submit-map', data-id='1') Check
                button(type='button', class='reset', data-id='1', class='btn btn-info') Reset

        div(role='tabpanel', class='tab-pane', style='max-width: 600px; margin: auto', id='level2')
            div(class='center text-center padded' id='numberOfPaths1')
                include ../../../public/images/number-of-paths2.svg
                span number of paths =&nbsp;
                input(type='number' disabled='')

            p(class='center text-center output-map1')
            p(class='center text-center')
                button(type='button', id='impossible', class='btn btn-default', data-id='2', data-toggle='modal', data-target='#possible_modal') It's impossible
                button(type='button', class='btn btn-default submit-map', data-id='2') Check
                button(type='button', class='reset', data-id='2', class='btn btn-info') Reset

        div(role='tabpanel', class='tab-pane', style='max-width: 600px; margin: auto', id='level3')
            div(class='center text-center padded' id='numberOfPaths2')
                include ../../../public/images/number-of-paths3.svg
                span number of paths =&nbsp;
                input(type='number' disabled='')

            p(class='center text-center output-map2')
            p(class='center text-center')
                button(type='button', id='impossible', class='btn btn-default', data-id='3', data-toggle='modal', data-target='#possible_modal') It's impossible
                button(type='button', class='btn btn-default submit-map', data-id='3') Check
                button(type='button', class='reset', data-id='3', class='btn btn-info') Reset

        div(role='tabpanel', class='tab-pane', style='max-width: 600px; margin: auto', id='level4')
            div(class='center text-center padded' id='numberOfPaths3')
                include ../../../public/images/number-of-paths4.svg
                span number of paths =&nbsp;
                input(type='number' disabled='')

            p(class='center text-center output-map3')
            p(class='center text-center')
                button(type='button', id='impossible', class='btn btn-default', data-id='4', data-toggle='modal', data-target='#possible_modal') It's impossible
                button(type='button', class='btn btn-default submit-map', data-id='4') Check
                button(type='button', class='reset', data-id='4', class='btn btn-info') Reset


block append scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js')
    script(src='/javascripts/quiz/number-of-paths.js')
