
extends ../layout.pug

block pagetitle
    title Three Rocks Game

block title
    div(class='container')
        h1 Three Rocks Game
        p(class='subtitle text-center') There are two piles of ten rocks. In each turn, you may take up to three rocks. The player that takes the last rock wins the game. Your opponent moves first.

block container
    div(class='take-the-last-stone')
        div(class='row')
            div(class='col-sm-4 history')
            div(class='col-sm-4 pile left-pile')
                each i in [1,2,3,4,5,6,7,8,9,10]
                    .rock
            div(class='col-sm-4 pile right-pile')
                each i in [1,2,3,4,5,6,7,8,9,10]
                    .rock

    p(class='center text-center')
        button(class='btn btn-info take01') 0,1
        button(class='btn btn-info take02') 0,2
        button(class='btn btn-info take03') 0,3
        button(class='btn btn-info take10') 1,0
        button(class='btn btn-info take11') 1,1
        button(class='btn btn-info take12') 1,2
        button(class='btn btn-info take20') 2,0
        button(class='btn btn-info take21') 2,1
        button(class='btn btn-info take30') 3,0
        button(class='btn btn-default reset') Reset

    div(class='modal fade three-rocks-game__modal', tabindex='-1')
        div(class='modal-dialog')
            div(class='modal-content')
                div(class='modal-body') 
                    h4 In fact, a better solution exists.
                    p Would you like to improve your result?
                div(class='modal-footer')
                    button(type='button', class='btn btn-default', data-dismiss='modal') Close

block append scripts
    script(src='/javascripts/quiz/three-rocks-game.js')
