.clock-game
    .history
        .gray
            color: gray;
        > .content
            margin-top: auto;
        > .counter
            margin-bottom: 10px;
        margin-bottom: 40px;

    .content
        margin-top: 40px;
        min-height: 250px;
