input.error
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

  &:focus
    border-color: #a94442;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169,68,66,.6);