.florins
  .florin
    &__man
      &-first, &-second
        img
          max-width: 100%;
          margin: 15px 0;
    &__arrow
      display: none;
      margin: 60px 0px;
      img
        max-width: 100%;

@media (min-width: 992px)
  .florins
    .florin
      &__arrow
        display: block;