.job-assignment, .sums-table
  table
    margin: 0 auto;
    width: 100%;
    max-width: 550px;
    table-layout: fixed;

    th, td
      word-break: break-word;

    td
      height: 40px;

      input
        width: 100%