.largest-number

    .content
        display: flex
        align-items: center
        justify-content: center

        .sortable-item   
            margin: 2px
            background: #5cb85c
            font-weight: bold
            color: #fff
            font-size: 24px
            border-radius: 2px
            width: 90px
            height: 90px
            line-height: 90px
