.list
    .nav-pills
        margin: 0 10px 20px 0;

        .clear-filter
            &.disabled
                display: none;

    .quizzes-list
        list-style-type: circle;

        .title
            margin: 0 5px 5px 0;
            display: inline-block;

        .label
            margin: 0 3px;

        &.tags
            li
                margin-bottom: 15px;
                list-style-type: none;

            .title
                display: block;
                margin: 5px auto 5px 30px;
                