.cells
  display: inline-block;

  .cell
    line-height: 45px;

    &:after
      padding: 0 10px;
      display: inline-block;

    .form-control
      display: inline-block;
      max-width: 55px;

      &.error
        border-color: #a94442;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);