.primitive-calculator
    .calculator-wrapper
        background: #f4f4f4
        border: 1px solid #ccc
        border-radius: 20px
        width: 300px
        margin: 30px auto
        padding: 30px
    
        .field
            background: #fff
            border: 1px solid #ccc
            margin: 10px auto 30px
            width: 240px
            text-align: right
            padding: 0 15px
        
        .field, .first, .second, .third
            font-size: 22px
            line-height: 33px