@import "./magic-square.styl"
@import "./numbers-on-chessboard.styl"
@import './arthurs-books.styl'
@import './opposite-color.styl'
@import './split-weights.styl'
@import './n-diagonals.styl'
@import './three-hotels.styl'
@import './n-queens.styl'
@import './hanoi-towers.styl'
@import './balls-in-boxes.styl'
@import './numbers-in-boxes.styl'
@import './regular-graph.styl'
@import './find-number.styl'
@import './bridges.styl'
@import './hamiltonian-cycle.styl'
@import './twice-numbers.styl'
@import './florins-coins.styl'
@import './15-game.styl'
@import './job-assignment.styl'
@import './road-repair.styl'
@import './sums-of-rows-and-columns.styl'
@import './antimagic-square.styl'
@import './prime.styl'
@import './summing-up-digits.styl'
@import './graph-cliques.styl'
@import './balanced-graphs.styl'
@import './make-a-tree.styl'
@import './tossing-coins.styl'
@import './antivirus-system.styl'
@import './take-the-last-stone.styl'
@import './take-the-last-rock.styl'
@import './primitive-calculator.styl'
@import './clock-game.styl'
@import './list.styl'
@import './arrange-apples.styl'
@import './touch-all-segments.styl'
@import './activity-selection.styl'
@import './largest-number.styl'
@import './local-maximum.styl'
@import './maximum-advertisement-revenue.styl'
@import './car-fueling.styl'

.hidden
  display: none;

.footer
  margin: 30px 0 0;
  border-top: 1px solid #ccc;
 
  > div
    margin: 20px auto;
    font-size: 13px;
