.take-the-last-stone
    min-height: 250px;

    .history-item
        display: block;
        line-height: 15px;
        margin: 8px 0;

    .left-pile, .right-pile
        text-align: center;

    .left-pile, .right-pile, .history
        margin-bottom: 40px

    .rock
        width: 25px;
        height: 25px;
        background: #ffa500;
        display: inline-block;
        margin: 5px 4px 3px;
        border-radius: 50%;
    